@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: "Source Code Pro", monospace;
	font-style: normal;
	box-sizing: border-box;
}

:root {
	--bg-0: rgb(245, 245, 245);
	--bg-1: rgb(235, 235, 235);
	--bg-2: rgb(225, 225, 225);
	--bg-3: rgb(215, 215, 215);
	--bg-4: rgb(205, 205, 205);
	--bg-5: rgb(195, 195, 195);
	--bg-6: rgb(75, 75, 75);

	--text-1: rgb(30, 30, 30);
	--text-2: rgb(50, 50, 50);

	--primary: #fcba03;
}

html {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;
}