@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    color-scheme: light;

    --bg-0: rgb(245, 245, 245);
    --bg-1: rgb(235, 235, 235);
    --bg-2: rgb(225, 225, 225);
    --bg-3: rgb(215, 215, 215);
    --bg-4: rgb(205, 205, 205);
    --bg-5: rgb(195, 195, 195);
    --bg-6: rgb(75, 75, 75);

    --text-1: rgb(30, 30, 30);
    --text-2: rgb(50, 50, 50);

    --primary: #fcba03;

    --color-blue-bg: light-dark(rgb(235, 238, 249), rgb(32, 34, 48));
    --color-green-bg: light-dark(rgb(233, 243, 238), rgb(28, 39, 35));
    --color-red-bg: light-dark(rgb(254, 239, 239), rgb(48, 33, 35));

    --color-blue-text: light-dark(rgb(52, 81, 194), rgb(82, 104, 224));
    --color-green-text: light-dark(rgb(38, 139, 90), rgb(44, 153, 98));
    --color-red-text: light-dark(rgb(243, 97, 98), rgb(235, 90, 91));
    --color-yellow-text: light-dark(#fcba03, #fcba03);

    --color-1: rgb(46, 65, 58);
    --color-2: rgb(58, 81, 72);
}

html {
    width: 100vw;
    height: 100vh;

    /* overflow: hidden; */
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}
